<section class="customers__wrapper">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Customers Satisfaction Statistics</h2>
                <p>This statistics are about customers satisfaction filtered by average score, monthly scores and satisfaction by region</p>
            </div>
            <div class="row">
                <div class="col-12" *ngIf="statistics">
                    <h3 class="customers__wrapper-heading">The average score of customers satisfaction out of 5 is: <span>{{statistics.customerSatisfaction.averageScore}}</span></h3>
                </div>
                <div class="col-12 col-md-6">
                    <h4>Regions</h4>
                    <div class="card">
                        <p-chart type="bar" [data]="basicData" [options]="basicOptions" />
                    </div>
                </div>
                <div class="col-12 col-md-6"></div>
            </div>
        </div>
    </div>
</section>