<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Customers Satisfaction Statistics</h2>
                <p>This statistics are about customers satisfaction filtered by average score, monthly scores and satisfaction by region</p>
            </div>
            <div class="row">
                <div class="col-12"></div>
                <div class="col-6"></div>
                <div class="col-6"></div>
            </div>
        </div>
    </div>
</section>