#intro__heading {
    p {
        font-family: "Roboto Slab", serif;
        font-size: 80px;
        font-weight: 900;
        color: #606060;
        
        span {
            background: linear-gradient(#90e184, #8c8cd4);
            -webkit-background-clip: text;
                    background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}